/* grey degradation:
  1.hsla(220, 20%, 3%,0.05) = l4
  2.hsla(220, 20%, 3%,0.3) = l3
  3.hsla(220, 20%, 3%,0.7) = l2
  4.hsla(220, 20%, 3%,0.9) = l1
  */
  
html {
  justify-content: center;
  font-family: sans-serif;
  line-height: 20px;
}

html, nav,
.header-container,
.first-section .tittle,
.sector, .top,
.second-section .latest-posts { 
  display: flex;
}

.first-section .tittle,
.sector {
  flex-direction: column;
}

body {
  background-color: white;
  width: 1440px;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Belgrano', serif;
  color: #333333;
}

.l1 {
  background: hsla(220, 20%, 3%,0.9);
}

.l2 {
  background: hsla(220, 20%, 3%,0.7);
}

.l3 {
  background: hsla(220, 20%, 3%,0.3);
}

.l4 {
  background: hsla(220, 20%, 3%,0.05);
}

h1, h2,
h3, h4 {
  font-weight: 700;
  box-sizing: border-box;
}

h1, h2 {
  font-size: 37px;
}

h4 {
  font-size: 22px;
}

header {
  height: 72px;
  padding: 16px 40px;
}

nav {
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.image {
  width: 196px;
  height: 71px;
}

.photo {
  width: 70px;
  height: 70px;
  border: 1px solid #666666;
}

.header-container {
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.header-container .mark {
  width: 50px;
  padding: 7.48px 14.4px;
  margin: 0 10px;
  height: 20px;
}

.nav-bar .search-bar {
  width: 350px;
  height: 57px;
}


.first-section .tittle {
  position: absolute;
  align-items: center;
  margin-left: 510px;
  margin-top: 50px;
  z-index: 999;
}

.first-section .sectors {
  display: grid;
  grid-template-columns: 720px 1fr;
  grid-template-rows: 720px 631px;
}

.first-section .sectors .bottom {
  width: 250px;
  height: 15px;
}

.first-section .sectors .one,
.two {
  padding: 200px 0 0 70px;
}

.first-section .sectors .one {
  background: hsla(220, 20%, 3%,0.025);
}

.first-section .sectors .three {
  background: hsla(220, 20%, 3%,0.05)
}

.first-section .sectors .four {
  background: hsla(220, 20%, 3%,0.025)
}
.first-section .sectors .three,
.four {
  padding: 100px 0 0 70px;
}

.sector .part {
  padding-bottom: 25px;
}

.sector .top .autor {
  padding: 15px 0 0 10px;  
}

.sector .arrow {
  width: 20px;
  height: 10px;
  margin-top: 200px;
}

.second-section .latest-posts {
  position: absolute;
  transform-origin: left center;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  letter-spacing: 5px;
  margin-left: 20px;
  margin-top: -40px;
  font-weight: 600;
}

.second-section .latest-posts .line {
  border-bottom: 2px solid black;
  width: 75px;
  margin: 0 10px 5px 0;
}


.second-section .sectors {
  display: grid;
  grid-template-columns: 720px 1fr 1fr;
  grid-template-rows: 720px 1fr 1fr;
  border: 5px solid salmon;
}