/* grey degradation:
  1.hsla(220, 20%, 3%,0.05) = l4
  2.hsla(220, 20%, 3%,0.3) = l3
  3.hsla(220, 20%, 3%,0.7) = l2
  4.hsla(220, 20%, 3%,0.9) = l1
  */
  
html {
  justify-content: center;
  font-family: sans-serif;
  line-height: 20px;
}

html, nav,
.header-container,
.first-section .tittle,
.sector, .top,
.second-section .latest-posts,
.second-section .sectors .first-sector .article,
.second-section .sectors .second-sector .container div,
.second-section .sectors .second-sector .first-advertise .shopify,
.third-section { 
  display: flex;
}

.first-section .tittle,
.sector {
  flex-direction: column;
}

body {
  background-color: white;
  width: 1440px;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Belgrano', serif;
  color: #333333;
}

.l1 {
  background: hsla(220, 20%, 3%,0.9);
}

.l2 {
  background: hsla(220, 20%, 3%,0.7);
}

.l3 {
  background: hsla(220, 20%, 3%,0.3);
}

.l4 {
  background: hsla(220, 20%, 3%,0.05);
}

h1, h2,
h3, h4 {
  font-weight: 700;
  box-sizing: border-box;
}

h1, h2 {
  font-size: 37px;
}

h4 {
  font-size: 22px;
}

header {
  height: 72px;
  padding: 16px 40px;
}

nav {
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.image {
  width: 196px;
  height: 71px;
}

.photo {
  width: 70px;
  height: 70px;
  border: 1px solid #666666;
}

.header-container {
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.header-container .mark {
  width: 50px;
  padding: 7.48px 14.4px;
  margin: 0 10px;
  height: 20px;
}

.nav-bar .search-bar {
  width: 350px;
  height: 57px;
}


.first-section .tittle {
  position: absolute;
  align-items: center;
  margin-left: 510px;
  margin-top: 50px;
  z-index: 999;
}

.first-section .sectors {
  display: grid;
  grid-template-columns: 720px 1fr;
  grid-template-rows: 720px 631px;
}

.first-section .sectors .bottom {
  width: 250px;
  height: 15px;
}

.first-section .sectors .one,
.two {
  padding: 200px 0 0 70px;
}

.first-section .sectors .one {
  background: hsla(220, 20%, 3%,0.025);
}

.first-section .sectors .three {
  background: hsla(220, 20%, 3%,0.05)
}

.first-section .sectors .four {
  background: hsla(220, 20%, 3%,0.025)
}
.first-section .sectors .three,
.four {
  padding: 100px 0 0 70px;
}

.first-section .sector .part {
  padding-bottom: 25px;
}

.first-section .sector .top .autor {
  padding: 15px 0 0 10px;  
}

.first-section .sector .arrow,
.second-section .arrow {
  width: 20px;
  height: 10px;
  margin-top: 200px;
}

.second-section .latest-posts {
  position: absolute;
  transform-origin: left center;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  letter-spacing: 5px;
  margin-left: 20px;
  margin-top: -40px;
  font-weight: 600;
}

.second-section .latest-posts .line {
  border-bottom: 2px solid black;
  width: 75px;
  margin: 0 10px 5px 0;
}


.second-section .sectors .first-sector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  transition: 0.1s ease-out;
  margin-bottom: 10px;
}

.second-section .sectors .first-sector .article,
.second-section .sectors .second-sector .container 
.third-advertise {
  flex-direction: column;
  justify-content: center;
  padding: 30px 40px 0 40px;
  cursor: pointer;
  height: 508.47px;
  overflow: hidden;
}


.second-section .sectors .first-sector .article:hover,
.second-section .sectors .second-sector .container 
.third-advertise:hover {
  transform: scale(1.1);
  background-color:hsla(220, 20%, 3%,0.05);
}

.second-section .sectors .first-sector .article .top {
  display: block;
  margin-bottom: 20px;
}

.second-section .sectors .first-sector .article .top .days,
.second-section .sectors .second-sector .container 
.third-advertise .super-article .top {
  margin-bottom: 10px;
  font-size: 11px;
  font-weight: lighter;
  color: #666666;
}

.second-section .sectors .first-sector .article .top .tittle,
.second-section .tittle a {
  font-size: 24px;
  color: black;
  margin-bottom: 35px;
}

.second-section .sectors .first-sector .article .top .autor,
.second-section .autor a {
  color: #333333;
  font-size: 0.95em;
}

.second-section .sectors .first-sector .article .center,
.second-section .sectors .second-sector .container 
.third-advertise .super-article .center {
  line-height: 2;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: lighter;
}

.second-section .sectors .first-sector .article .arrow2,
.second-section .sectors .second-sector .container 
.third-advertise .arrow2 {
  width: 20px;
  height: 20px;
  margin-top: 229px;
}

.second-section .sectors .first-sector .article:hover .arrow2,
.second-section .sectors .second-sector .container 
.third-advertise:hover .arrow2 {
  background-color: black;
  width: 70px;
  height: 70px;
  margin-top: 180px;
}

.second-section .sectors .first-sector .special .arrow2 {
  margin-top: 185px;
  margin-left: 5px;
} 

.second-section .sectors .second-sector .container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 683.5px;
  margin-bottom: 10px;
  height: 743.31px
}

.second-section .sectors .second-sector .container div {
  flex-direction: column;
  justify-content: center;
  padding: 30px 40px 0 40px;
  box-sizing: border-box;
}

.second-section .sectors .second-sector .container .first-advertise {
  padding: 0;

}

.second-section .first-advertise .tittle {
  padding: 0;
  margin-bottom: 20px;
  align-items: center;
  font-size: 12px;
  font-style: italic;
  font-weight: lighter;
}

.second-section .first-advertise .tittle .down-arrow {
  width: 10px;
  height: 10px;
  position: absolute;
  margin-left: 180px;
}

.second-section .sectors .second-sector .container 
.first-advertise {
  margin-top: -350px;
}

.second-section .sectors .second-sector .container 
.first-advertise .shopify {
  padding: 0 20px;
  border: 1px solid #dddddd;
  border-radius: 11px;
  align-items: center;
  width: 398px;
  height: 207.45px;
  box-sizing: border-box;
  line-height: 1.5;
  text-align: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.second-section .sectors .second-sector .container 
.first-advertise .shopify .logo-shopify {
  width: 175px;
  height: 29.14px;
}

.second-section .sectors .second-sector .container 
.first-advertise .shopify button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 3px;
}

.second-section .sectors .second-sector .container 
.second-advertise .ad2 {
  height: 694px;
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 20px;
  justify-content: space-between;
  border-radius: 11px;
  text-align: center;
  color: white;
  align-items: center;
  width: 498px;
}

.second-section .sectors .second-sector .container 
.second-advertise .ad2 .cat,
.third-section .tv-ad .cat {
  width: 260px;
  height: 220px;
  border: none;
  background: #4C4D4E;
  margin-top: 20px;
  cursor: pointer;
}

.second-section .sectors .second-sector .container 
.second-advertise .ad2 a,
.third-section .tv-ad a {
  color: white;
}

.second-section .sectors .second-sector .container 
.second-advertise .ad2 footer,
.third-section .tv-ad footer {
  height: 100px;
  font-size: 10px;
}

.second-section .sectors .second-sector .container 
.second-advertise .ad2 button,
.third-section .tv-ad button {
  width: 175px;
  height: 50px;
  border: none;
  border-radius: 11px;
}

.second-section .sectors .second-sector .container 
.second-advertise .ad2 footer p,
.third-section .tv-ad footer p {
  margin-top: 20px;
}

.second-section .sectors .second-sector .container 
.third-advertise {
  cursor: pointer;
  height: 690px;
}

.second-section .sectors .second-sector .container 
.third-advertise .super-article {
  margin-top: -5px;
}

.second-section .sectors .second-sector .container 
.third-advertise .super-article .top,
.second-section .sectors .second-sector .container 
.third-advertise .super-article .top .days,
.second-section .sectors .second-sector .container 
.third-advertise .super-article .top .tittle,
.second-section .sectors .second-sector .container 
.third-advertise .super-article .top .autor,
.second-section .sectors .second-sector .container 
.third-advertise .super-article .center,
.second-section .sectors .second-sector .container 
.third-advertise .super-article .bottom,
.second-section .sectors .second-sector .container 
.third-advertise .super-article .bottom .arrow2 {
  padding: 0;
}

.second-section .sectors .second-sector .container 
.third-advertise .super-article .top .days {
  margin-bottom: 10px;
}

.second-section .sectors .second-sector .container 
.third-advertise .super-article .top .tittle {
  margin-bottom: 30px;
}

.second-section .sectors .second-sector .container 
.third-advertise .super-article .top .autor {
  margin-bottom: 20px;
  font-size: 15px;
}

.third-section {
  width: 100%;
  height: 624.312px;
  box-sizing: border-box;
  padding: 30px;
  justify-content: center;
}

.third-section .tv-ad {
  border-radius: 11px;
  text-align: center;
  color: white;
  width: 1305px;
  height: 574px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
